# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RediTest.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MOS_LENOVO_REGINA\Documents\RediTest\.idea\.idea.RediTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
